<li>
  <button type="button" class="" (click)="collapse.toggle()" [attr.aria-expanded]="isCollapsed"
          aria-controls="collapseExample" [class.opened-dir]="!collapse.collapsed">➡</button>{{folder.name}}
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <ul>
    <ng-container *ngFor="let e of folder.directoryEntries">

      <app-directory-entry *ngIf="e.isFolder" (rangeSelected)="rangeClicked($event)"
                           [folder]="asFolder(e)"></app-directory-entry>
      <app-range-entry *ngIf="!e.isFolder" (rangeSelected)="rangeClicked($event)"
                       [range]="asHandRange(e)"></app-range-entry>
    </ng-container>
  </ul>
  </div>
</li>
