{{range.toString()}}
<table border="1">

  <tr>
    <td (click)="toggleHand('AA')" [class.in-range]="range.hasForLabel('AA')">AA</td>
    <td (click)="toggleHand('AKs')" [class.in-range]="range.hasForLabel('AKs')">AK</td>
    <td (click)="toggleHand('AQs')" [class.in-range]="range.hasForLabel('AQs')">AQ</td>
    <td (click)="toggleHand('AJs')" [class.in-range]="range.hasForLabel('AJs')">AJ</td>
    <td (click)="toggleHand('ATs')" [class.in-range]="range.hasForLabel('ATs')">AT</td>
    <td (click)="toggleHand('A9s')" [class.in-range]="range.hasForLabel('A9s')">A9</td>
    <td (click)="toggleHand('A8s')" [class.in-range]="range.hasForLabel('A8s')">A8</td>
    <td (click)="toggleHand('A7s')" [class.in-range]="range.hasForLabel('A7s')">A7</td>
    <td (click)="toggleHand('A6s')" [class.in-range]="range.hasForLabel('A6s')">A6</td>
    <td (click)="toggleHand('A5s')" [class.in-range]="range.hasForLabel('A5s')">A5</td>
    <td (click)="toggleHand('A4s')" [class.in-range]="range.hasForLabel('A4s')">A4</td>
    <td (click)="toggleHand('A3s')" [class.in-range]="range.hasForLabel('A3s')">A3</td>
    <td (click)="toggleHand('A2s')" [class.in-range]="range.hasForLabel('A2s')">A2</td>
  </tr>
  <tr>
    <td>AK</td>
    <td>KK</td>
    <td>KQ</td>
    <td>KJ</td>
    <td>KT</td>
    <td>K9</td>
    <td>K8</td>
    <td>K7</td>
    <td>K6</td>
    <td>K5</td>
    <td>K4</td>
    <td>K3</td>
    <td>K2</td>
  </tr>
  <tr>
    <td>AQ</td>
    <td>KQ</td>
    <td>QQ</td>
    <td>QJ</td>
    <td>QT</td>
    <td>Q9</td>
    <td>Q8</td>
    <td>Q7</td>
    <td>Q6</td>
    <td>Q5</td>
    <td>Q4</td>
    <td>Q3</td>
    <td>Q2</td>
  </tr>
  <tr>
    <td>AJ</td>
    <td>KJ</td>
    <td>QJ</td>
    <td>JJ</td>
    <td>JT</td>
    <td>J9</td>
    <td>J8</td>
    <td>J7</td>
    <td>J6</td>
    <td>J5</td>
    <td>J4</td>
    <td>J3</td>
    <td>J2</td>
  </tr>
  <tr>
    <td>AT</td>
    <td>KT</td>
    <td>QT</td>
    <td>JT</td>
    <td>TT</td>
    <td>T9</td>
    <td>T8</td>
    <td>T7</td>
    <td>T6</td>
    <td>T5</td>
    <td>T4</td>
    <td>T3</td>
    <td>T2</td>
  </tr>
  <tr>
    <td>A9</td>
    <td>K9</td>
    <td>Q9</td>
    <td>J9</td>
    <td>T9</td>
    <td>99</td>
    <td>98</td>
    <td>97</td>
    <td>96</td>
    <td>95</td>
    <td>94</td>
    <td>93</td>
    <td>92</td>
  </tr>
  <tr>
    <td>A8</td>
    <td>K8</td>
    <td>Q8</td>
    <td>J8</td>
    <td>T8</td>
    <td>98</td>
    <td>88</td>
    <td>87</td>
    <td>86</td>
    <td>85</td>
    <td>84</td>
    <td>83</td>
    <td>82</td>
  </tr>
  <tr>
    <td>A7</td>
    <td>K7</td>
    <td>Q7</td>
    <td>J7</td>
    <td>T7</td>
    <td>97</td>
    <td>87</td>
    <td>77</td>
    <td>76</td>
    <td>75</td>
    <td>74</td>
    <td>73</td>
    <td>72</td>
  </tr>
  <tr>
    <td>A6</td>
    <td>K6</td>
    <td>Q6</td>
    <td>J6</td>
    <td>T6</td>
    <td>96</td>
    <td>86</td>
    <td>76</td>
    <td>66</td>
    <td>65</td>
    <td>64</td>
    <td>63</td>
    <td>62</td>
  </tr>
  <tr>
    <td>A5</td>
    <td>K5</td>
    <td>Q5</td>
    <td>J5</td>
    <td>T5</td>
    <td>95</td>
    <td>85</td>
    <td>75</td>
    <td>65</td>
    <td>55</td>
    <td>54</td>
    <td>53</td>
    <td>52</td>
  </tr>
  <tr>
    <td>A4</td>
    <td>K4</td>
    <td>Q4</td>
    <td>J4</td>
    <td>T4</td>
    <td>94</td>
    <td>84</td>
    <td>74</td>
    <td>64</td>
    <td>54</td>
    <td>44</td>
    <td>43</td>
    <td>42</td>
  </tr>
  <tr>
    <td>A3</td>
    <td>K3</td>
    <td>Q3</td>
    <td>J3</td>
    <td>T3</td>
    <td>93</td>
    <td>83</td>
    <td>73</td>
    <td>63</td>
    <td>53</td>
    <td>43</td>
    <td>33</td>
    <td>32</td>
  </tr>
  <tr>
    <td>A2</td>
    <td>K2</td>
    <td>Q2</td>
    <td>J2</td>
    <td>T2</td>
    <td>92</td>
    <td>82</td>
    <td>72</td>
    <td>62</td>
    <td>52</td>
    <td>42</td>
    <td>32</td>
    <td>22</td>
  </tr>


</table>
<router-outlet></router-outlet>
