<div class="row" style="margin: 20px;">
  <h1>{{range.name}}</h1>
  <div class="col-4">
    <button class="btn-info btn clear-btn" (click)="clearRange()">clear range</button>
    <table class="range-table">

      <!--      レンジ表-->
      <ng-container *ngFor="let row of All_Row">
        <tr>

          <ng-container *ngFor="let hand of row">
            <ng-container *ngVar=" as comboCount">
              <td [id]="hand.label" class="hand-option" [class.in-range]="rangeHas(hand)" [class.suited]="hand.isSuited()" [class.pocket-pair]="hand.isPocketPair()"
                  [class.in-condition]="comboCount > 0" [title]="comboCount">{{hand.label.replace("p", "")}}</td>
            </ng-container>


          </ng-container>
        </tr>
      </ng-container>


    </table>

    <!--    レンジ、ハンドのカウント-->
    <div>
      <table class="table table-light" id="narrowed-combo-count-table" title="'<combos of this range> / <all possible combos>'. In Both, blockers are into account.">
        <tr>
          <th>Hand Range Combos Count</th>
          <td>{{rangeComboSize}}/{{allCombo.size}}
            ({{rangeComboSize / allCombo.size | percent}})
          </td>
        </tr>
        <tr>
          <th>Narrowed Combos Count</th>
          <td>{{narrowedCombos.size}}/{{rangeComboSize}}
            ({{narrowedCombos.size / rangeComboSize | percent}})
          </td>
        </tr>
      </table>

    </div>
  </div>


  <!--  ハンドを条件で絞るセクション-->
  <div class="col-8">
    <div class="condition-panel">
      <h2>Blocker</h2>
      <button (click)="clearBlocker()" class="btn btn-info clear-btn">clear</button>
      <table>
        <tr *ngFor="let row of AllCardsGroupedBySuit">
          <td *ngFor="let card of row">
            <!--        あとで画像に差しかえる-->
            <button class="btn"
                    (click)="toggleBlocker(card)"
                    [class.blocker-selected]="blockers.has(card)"
            >{{card.label()}}</button>
          </td>
        </tr>
      </table>
    </div>

    <div class="condition-panel">
      <h2>includes any of the following</h2>
      <button (click)="clearIncludesAnyOf()" class="btn btn-info clear-btn">clear</button>

      <table>
        <tr>
          <ng-container *ngFor="let cn of AllNumber">
            <td>
              <button class="btn"
                      [class.number-selected]="targetHasAllCardsOfNumber(includesAnyOf, cn)"
                      (click)="toggleIncludeAnyOfByNumber(cn)"
                      [disabled]="targetHasAllCardsOfNumber(blockers, cn)"
              >{{cn.label}}</button>
            </td>
          </ng-container>
        </tr>
        <tr *ngFor="let row of AllCardsGroupedBySuit">
          <td *ngFor="let card of row">
            <!--        あとで画像に差しかえる-->
            <button class="btn"
                    (click)="toggleIncludeAnyOf(card)"

                    [class.blocker-selected]="includesAnyOf.has(card)"
                    [disabled]="blockers.has(card)" [class.disable] = "blockers.has(card)"
            >{{card.label()}}</button>
          </td>
        </tr>
      </table>

    </div>
  </div>




</div>
