.hand-option {
  color: gray;
  width: 30px;
  height: 30px;
  border: solid 2px gray;
}

td:hover {
  cursor: pointer;
}

/* offsuited suited  poket-pairで色分け。equilaboのに似せてる*/
.suited {
  background-color: #FFFAF0;
}

.pocket-pair {
  background-color: #E6FFE9;
}

.in-range {
  background-color: cornflowerblue;
  color: black !important;
}

#narrowed-combo-count-table {
  background-color: lightgoldenrodyellow;
}

#narrowed-combo-count-table td {
  padding-left: 10px;
  text-align: left;
}

#range-count-table {

  background-color: lightpink;
}
.in-condition {
  /*background-color: lightpink;*/
  /*border: solid 2px orange !important;*/

  color: #FFD700	 !important;
}

.range-table, th, tr, td {
  border: 1px solid gray;
  text-align: center;
  margin-bottom: 20px;
}

.clear-btn {
  margin: 5px;
}

.blocker-selected {
  background-color: orange;
}

.number-selected {
  background-color: orange;
}

.card-selected {
  background-color: orange;
}

.condition-panel {
  margin: 20px;
  border:solid 2px lightblue;
  padding: 10px;
}

.narrowingByNum-selected {
  background-color: orange;
}

.hand-option {
  color: dimgray;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ui-selecting {
  background-color: orange;
}

/*.ui-selecting {*/
/*  background-color:yellow;*/
/*}*/

